<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<main>
    <h2>Account Report</h2>
    <br>
    <div>
        <h4>Summary</h4>
        <p>Total balance: {{ .TotalBalance }}</p>
        <p>Average debit amount: {{ .AverageTotalDebit }}</p>
        <p>Average credit amount: {{ .AverageTotalCredit }}</p>
    </div>
    <br>
    {{ range .MonthSummary }}
        <div>
            <h4>{{ .Month }}</h4>
            <p>Average debit: {{ .AverageDebit }}</p>
            <p>Average credit: {{ .AverageCredit }}</p>
            <p>Number of transactions: {{ .Transactions }}</p>
        </div>
        <br>
    {{ end }}
</main>
</body>
</html>
